

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    

}

.container {
    width: 1160px;
    margin: 0 auto;
}

.containr {
    width: 1460px;
    margin: 0 auto;
}
 /* -------------------from section------------------ */
  
 

.start h1 {
    font-size: 50px;
    font-family: cursive;
    color: black;
}

.start h3 {
    font-family: fantasy;
    color: gray;
}

.start form label {
    font-size: 40px;
    font-family: poppins;
    color: black;
}

.start form input {

    padding: 10px 180px;
    font-size: 20px;

}
.start h3 a{
    margin-left: 19px;
}
button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 60px;
    background-color: rgb(141, 20, 4);
    font-size: 25px;
}
button:hover{
    background-color: tomato;
    transition: .5s all ease;
    color: #000;
}


.pic img{
    height: 500px;
    width: 600px;
}

.start {
    display: inline-block;
    padding: 12px 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    align-items: center;
}

.list {
    display: flex;
    justify-content: space-evenly;

    padding: 200px 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

#from {

  background-color: rgb(133, 91, 12);


}








/* ------------------------------------------starting header section-- ----------- */
#head {
    background-color: #2D25A0;
    padding-bottom: 70px;
}

.full-head-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;


}











/* left-head-body */
.left-head-body {
    width: 587px;


}

.left-text {
    display: flex;
    justify-content: space-between;

}

.left-text a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: poppins;
    font-weight: 500px;

}

/* -----------------------right-head-body----------------------- */


.right-head-body {
    display: flex;
    align-items: center;

    text-align: center;
}

.btn a {
    color: black;
}

.btn button {
    padding: 10px 13px;
    text-decoration: none;

    background-color: #c90c51;
    cursor: pointer;
    transition: 5s all ease;
}

.btn button:hover {
    background-color: tomato;
    transition: .5s all ease;
    color: white;

}





.right-text a {
    color: white;

    height: 24px;
    width: 24px;

    text-decoration: none;
}

.right-text a i {
    padding-right: 8px;
}




/* ----------------------------------------------------starting cornabol-------------- */




.cornabol-all-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 170px;

}










/* .cornabol-left-side */

.cornabol-left-side {
    width: 485px;
    height: 230px;

}


.cornabol-text h1 {
    font-family: sans-serif;
    font-size: 64px;
    font-weight: 700;
    color:white;


}

.btn button a {
    color: white;
}

.btn button {
    border-radius: 30px;
    margin-top: 9px;
    background-color: #c90c51;
    transition: 5s all ease;

}

.btn button:hover {
    background-color: tomato;
    transition: .5s all ease;

}


/* --------------------------cornabol right side----------------- */

.cornabol-right-side {

    height: 438px;

}

.cornabol-img-one {
    position: relative;
}

.img-two {
    position: absolute;
    top: 20px;
    left: -120px;
}

.img-two::before {
    animation: skill 6s infinite ease-in;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    right: -100px;
}

.img-two::after {
    animation: skill 6s infinite ease-in;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100px;
}


@keyframes skill {
    from {
        top: 0%;
        right: -100px
    }

    to {
        top: 0;
        left: -200px;
    }
}


/* < !-- --------------------second chapter card starting------------------------ --> */




.all-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);


    gap: 30px;
    margin-top: 80px;


}

.one {
    padding: 10px 15px;
    width: 330px;
    height: 470px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.one img {
    width: 300px;
    height: 256px;
    background: url(<path-to-image>), rgba(211, 211, 211, 0.205);

}

.one h1 {

    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    margin: 14px 0;
}

.one p {

    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}





.one button {
    
    margin-top: 7px;
    padding: 10px 14px;
    font-size: 16px;
    border-radius: 30px;
    font-weight: 200;
    background-color: tomato;
    color: white;
    transition: 5s all ease;
    cursor: pointer;
}

.one button:hover {
    background-color: blueviolet;
    transition: .5s all ease;

}

.im img {
    height: 500px;
    width: 500px;
}



/* < !-- -------------------third chapter highlight-------------- --> */

.full-body-highlight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 165px;
}


/* leftside */



.highlight-text {
    width: 500px;
    height: 309px;


}

.highlight-text h1 {

    color: #0A0826;

    font-family: sans-serif;
    font-size: 46px;

    font-weight: 790;
}

.highlight-text p {
    color: #6C6C6C;

    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;


}

/* --------------------right side img------------------------------------------------ */
.right-highlight-pic img {
    width: 567px;
    height: 427px;


}


/* ..............--------------------------extra unit tests------------------------ */
.marque marquee{
    font-family:sans-serif;
    font-size: 56px;
    font-weight: 800;
    color: aqua;

}
.marque marquee span{
    font-family: poppins;
        font-size: 56px;
        font-weight: 800;
        color: black;
}








.extra-full-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);


    gap: 30px;
    margin-top: 80px;


}

.extra-detail {
    padding: 10px 15px;
    width: 330px;
    height: 470px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.extra-detail video {
    width: 300px;
    height: 256px;
    background: url(<path-to-image>), rgba(211, 211, 211, 0.205);

}

.extra-detail h1 {

    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    margin: 14px 0;
}

.extra-detail p {

    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.extra-detail button {
    margin-top: 7px;
    padding: 10px 14px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 200;
    background-color: tomato;
    color: white;
    transition: 5s all ease;
    cursor: pointer;
}

.extra-detail button:hover {
    background-color: blueviolet;
    transition: .5s all ease;
}










/* < !--===========------------------finishing unit------------------------- --> */

#finishing {
    margin-top: 158px;
}

.full-body-footer {
    display: flex;

    flex-direction: column;
    justify-content: center;
}

.left-pic {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* ----------------------------logo unit-------------- */


.logo {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.logo-icon a {
    font-size: 20px;
}

.left {
    padding-left: 44px;
}





/* finishing text */
.text {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.text h2 {
    color: #000;

    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;

}